AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-central-1
DEPLOY_TARGET_REGION=eu-central-1
MVP_LAMBDA_ROLE_ARN=
MVP_LAMBDA_ROLE_NAME=ai-lambda-builder-mvp-role
S3_CONTEXT_BUCKET=ai-lambda-mvp-873550638583-euc1
